@model CIR_skladisce.Models.UporabnikChangePassword
@{
    ViewBag.Title = "Spremeni geslo";
}

<h2>Spremeni geslo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Spremeni geslo</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Geslo)
                @Html.PasswordFor(m => m.Geslo)
            </li>
            <li>
                @Html.LabelFor(m => m.PonovnoGeslo)
                @Html.PasswordFor(m => m.PonovnoGeslo)
            </li>
        </ol>
        <input type="submit" value="Potrdi" />
    </fieldset>
}